 body{
  font-family: 'Poppins', sans-serif;
  background-color: rgb(32, 27, 27);
 }
 header h1{
    font-family: 'Oooh Baby', cursive;
    font-size: 100px;
    font-weight: bold;
    color: rgb(218, 92, 46)
 }
 header h2{
    font-family: 'Oooh Baby', cursive;
    font-size: 60px;
}
.col img{
  height: 200px;
}
.card{
  border: 1px solid rgb(61, 55, 55);
}
.card-title{
  padding-bottom: 10px;
  padding-top: 10px;
}
input{
  width: 40%;
}
#expenses-total{
  color: rgb(208, 96, 55)
}
#player-expenses-total{
  color: rgb(215, 102, 61)
}

